@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@layer components {
  p b {
    @apply text-orange-400 font-bold;
  }

  p a {
    @apply text-blue-400;
  }

  ul li {
    @apply cursor-pointer select-none;
  }

  body {
    @apply overflow-x-hidden;
  }
}
